{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "List Access",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::{{ mgmt_account }}:root"
      },
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation"
      ],
      "Resource": "arn:aws:s3:::{{ site_prefix }}-{{ item }}"
    },
    {
      "Sid": "Get Object Read Only",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::{{ mgmt_account }}:root"
      },
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::{{ site_prefix }}-{{ item }}/*"
    }
  ]
}
